<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.project.ui.tests.UI_EndToEnd_Test"/>
      <class name="com.project.api.tests.ReqresApiTest"/>
      <class name="com.project.ui.base.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
